.header {
  display: flex;
  justify-content: space-around;
  background-color: #2b2a2b;
  color: #eee;
  padding: 10px;

  a {
    border-radius: 5px;
    padding: 3px 7px;

    &:hover {
      background-color: rgba(150, 150, 150, 0.5);
    }

    &.active {
      background-color: aqua;
    }
  }

  .icon-header {
    height: 50px;
    width: 50px;
  }
}
