<section class="contact-edit">
  <section class="actions" *ngIf="contact">
    <a [routerLink]="'/contact/' + contact._id">Back</a>
    <button (click)="onRemoveContact()">Delete</button>
  </section>
  <section class="flex-container" *ngIf="contact">
    <img [src]="'https://robohash.org/' + contact._id" alt="" />
  </section>

  <form
    (submit)="onSaveContact()"
    class="contact-edit"
    *ngIf="contact; else loader"
  >
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="contact.name" name="name" />
    <label for="email">Email</label>
    <input type="text" id="email" [(ngModel)]="contact.email" name="email" />
    <label for="phone">Phone Number</label>
    <input type="text" id="phone" [(ngModel)]="contact.phone" name="phone" />
    <div class="flex-container">
      <button>Save</button>
    </div>
  </form>
  <ng-template #loader> <h3>Loading</h3> </ng-template>
</section>
