<section class="home">
  <section class="flex-container">
    <h2>Mr. Bitcoin</h2>
    <button (click)="onLogout()">Logout</button>
  </section>
  <section class="card">
    <img [src]="'https://robohash.org/' + user.name" alt="" />
    <p>Hello {{ user.name }}!</p>
    <p>
      <img src="./assets/icons/coins.png" alt="coins" class="icon-home" />
      Coins: {{ user.coins }}
    </p>
    <p>
      <img src="./assets/icons/bitcoin.png" alt="bitcoin" class="icon-home" />
      Rate: {{ rate }}
    </p>
  </section>
  <app-moves-list *ngIf="user" [moves]="getRecentMoves()"></app-moves-list>
</section>
