.contact-details-container {
  padding: 18px;
  .links {
    display: flex;
    justify-content: space-between;
    width: 100%;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .contact-details {
    place-items: center;

    & > img {
      width: 130px;
      height: 130px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }
  }
}
