.contact-preview {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #cccccccc;
  }

  h2 {
    font-size: 1.3rem;
  }

  img {
    width: 100px;
  }

  @media (max-width: 450px) {
    padding: 0;
    a {
      h2 {
        font-size: 1rem;
      }
    }
  }
}
